.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner {
  @media (max-width: 992px) {
    display: none;
  }
}

.hero {
  @media (min-width: 992px) {
    max-width: 600px;
  }

  max-width: 90%;
  margin: 0 auto;
  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    @media (max-width: 620px) {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    > span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }
}

.tip {
  p {
    font-size: 0.7rem;
    line-height: 1.2rem;
    font-weight: 100;

    span {
      color: var(--white);
      font-weight: 100;
      margin-left: 4px;
    }

    &:hover {
      time,
      span {
        text-decoration: underline;
        color: var(--cyan-500);
      }
    }

    b {
      color: var(--yellow-500);
    }
  }
}
